<!DOCTYPE html>
{% macro chord_query_params(name, strings) %}
name={{ name }}{% if left %}&lh=1{% endif %}{% if romanfrets %}&rf=1{% endif %}&s1={{ strings.0.1 }}&f1={{ strings.0.0 }}&s2={{ strings.1.1 }}&f2={{ strings.1.0 }}&s3={{ strings.2.1 }}&f3={{ strings.2.0 }}&s4={{ strings.3.1 }}&f4={{ strings.3.0 }}&s5={{ strings.4.1 }}&f5={{ strings.4.0 }}&s6={{ strings.5.1 }}&f6={{ strings.5.0 }}
{% endmacro %}

{% macro fret_input(string, fret) %}
<select class="ui dropdown" name="s{{ string }}" onchange="update_all_strings();">
    <option value="O" {% if fret == "O" %}selected{% endif %}>Open</option>
    <option value="X" {% if fret == "X" %}selected{% endif %}>Muted</option>
    <option value="1" {% if fret == 1 %}selected{% endif %}>1st fret</option>
    <option value="2" {% if fret == 2 %}selected{% endif %}>2nd fret</option>
    <option value="3" {% if fret == 3 %}selected{% endif %}>3rd fret</option>
    <option value="4" {% if fret == 4 %}selected{% endif %}>4th fret</option>
    <option value="5" {% if fret == 5 %}selected{% endif %}>5th fret</option>
    <option value="6" {% if fret == 6 %}selected{% endif %}>6th fret</option>
    <option value="7" {% if fret == 7 %}selected{% endif %}>7th fret</option>
    <option value="8" {% if fret == 8 %}selected{% endif %}>8th fret</option>
    <option value="9" {% if fret == 9 %}selected{% endif %}>9th fret</option>
    <option value="10" {% if fret == 10 %}selected{% endif %}>10th fret</option>
    <option value="11" {% if fret == 11 %}selected{% endif %}>11th fret</option>
    <option value="12" {% if fret == 12 %}selected{% endif %}>12th fret</option>
    <option value="13" {% if fret == 13 %}selected{% endif %}>13th fret</option>
    <option value="14" {% if fret == 14 %}selected{% endif %}>14th fret</option>
    <option value="15" {% if fret == 15 %}selected{% endif %}>15th fret</option>
    <option value="16" {% if fret == 16 %}selected{% endif %}>16th fret</option>
    <option value="17" {% if fret == 17 %}selected{% endif %}>17th fret</option>
    <option value="18" {% if fret == 18 %}selected{% endif %}>18th fret</option>
    <option value="19" {% if fret == 19 %}selected{% endif %}>19th fret</option>
    <option value="20" {% if fret == 20 %}selected{% endif %}>20th fret</option>
    <option value="21" {% if fret == 21 %}selected{% endif %}>21st fret</option>
    <option value="22" {% if fret == 22 %}selected{% endif %}>22nd fret</option>
    <option value="23" {% if fret == 23 %}selected{% endif %}>23rd fret</option>
    <option value="24" {% if fret == 24 %}selected{% endif %}>24th fret</option>
</select>
{% endmacro %}

{% macro finger_input(string, finger) %}
<select class="ui dropdown" name="f{{ string }}" onchange="update_all_strings();">
    <option value="" {% if not finger %}selected{% endif %}>None</option>
    <option value="1" {% if finger == 1 %}selected{% endif %}>1st finger</option>
    <option value="2" {% if finger == 2 %}selected{% endif %}>2nd finger</option>
    <option value="3" {% if finger == 3 %}selected{% endif %}>3rd finger</option>
    <option value="4" {% if finger == 4 %}selected{% endif %}>4th finger</option>
    <option value="5" {% if finger == "T" %}selected{% endif %}>Thumb</option>
</select>
{% endmacro %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Author" content="Brendan Jurd">
        <title>Guitar chord diagram generator</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/components/button.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/components/container.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/components/dropdown.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/components/form.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/components/grid.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/components/header.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/components/input.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/components/segment.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/components/list.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/components/icon.min.css">

        <style type="text/css">
            .masthead.segment { min-height: 150px; padding: 1em 0em; }
            .masthead h1.ui.header { font-size: 2em; margin-top: 1.5em; }
            td.degree { font-family: "Linux Libertine", "Times New Roman", serif; }
            .hidden { visibility: hidden; }
        </style>
    </head>
    <body>
        <div class="ui inverted masthead center aligned segment">
            <div class="ui text container">
                <h1 class="ui inverted header">Guitar chord diagram generator</h1>
            </div>
        </div>

        <div class="ui center aligned segment">
            <h2>Presets</h2>

            <div class="ui grid">
                {% for initial, chords in presets %}
                <div class="two wide column">
                    <h3>{{ initial }}</h3>
                    {% for chord in chords %}
                    <div>
                        <a href="?{{ chord_query_params(chord.name, chord.strings) }}">{{ chord.name }}</a>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="ui center aligned segment">
            <div class="ui grid">
                <div class="ten wide column">
                    <form class="ui form" method="get">
                        <div class="inline field">
                            <label>Chord name</label>
                            <input class="ui input" name="name" value="{{ name }}" placeholder="Chord name" onkeyup="update_all_strings();">
                            <div id="scale-warning" class="ui icon orange hidden button" data-tooltip="Unable to figure out the scale of this chord from its name.  Try putting the root note of the chord at the start of the name, like in &ldquo;Dm&rdquo;.">
                                <i class="exclamation triangle icon"></i>
                            </div>
                        </div>

                        <div class="inline field">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" name="lh" value="1" {% if left %}checked{% endif %}>
                                <label>Left handed?</label>
                            </div>
                        </div>
                        <div class="inline field">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" name="rf" value="1" {% if romanfrets %}checked{% endif %}>
                                <label>Roman numeral fret markers?</label>
                            </div>
                        </div>

                        <table class="ui basic collapsing definition table" style="margin: 1ex auto;">
                            <thead>
                                <tr>
                                    <th>String</th>
                                    <th>Standard E tuning</th>
                                    <th>Fret</th>
                                    <th>Finger</th>
                                    <th>Played note</th>
                                    <th>Scale degree</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1st (thinnest) string</td>
                                    <td>High E</td>
                                    <td>{{ fret_input(1, strings.0.1) }}</td>
                                    <td>{{ finger_input(1, strings.0.0) }}</td>
                                    </td>
                                    <td id="played1"></td>
                                    <td id="degree1" class="degree"></td>
                                </tr>
                                <tr>
                                    <td>2nd string</td>
                                    <td>B</td>
                                    <td>{{ fret_input(2, strings.1.1) }}</td>
                                    <td>{{ finger_input(2, strings.1.0) }}</td>
                                    <td id="played2"></td>
                                    <td id="degree2" class="degree"></td>
                                </tr>
                                <tr>
                                    <td>3rd string</td>
                                    <td>G</td>
                                    <td>{{ fret_input(3, strings.2.1) }}</td>
                                    <td>{{ finger_input(3, strings.2.0) }}</td>
                                    <td id="played3"></td>
                                    <td id="degree3" class="degree"></td>
                                </tr>
                                <tr>
                                    <td>4th string</td>
                                    <td>D</td>
                                    <td>{{ fret_input(4, strings.3.1) }}</td>
                                    <td>{{ finger_input(4, strings.3.0) }}</td>
                                    <td id="played4"></td>
                                    <td id="degree4" class="degree"></td>
                                </tr>
                                <tr>
                                    <td>5th string</td>
                                    <td>A</td>
                                    <td>{{ fret_input(5, strings.4.1) }}</td>
                                    <td>{{ finger_input(5, strings.4.0) }}</td>
                                    <td id="played5"></td>
                                    <td id="degree5" class="degree"></td>
                                </tr>
                                <tr>
                                    <td>6th (thickest) string</td>
                                    <td>Low E</td>
                                    <td>{{ fret_input(6, strings.5.1) }}</td>
                                    <td>{{ finger_input(6, strings.5.0) }}</td>
                                    <td id="played6"></td>
                                    <td id="degree6" class="degree"></td>
                                </tr>
                            </tbody>
                        </table>

                        <div id="span-error" class="ui hidden negative message">
                            <div class="header">Fret span too large</div>
                            <p>Sorry, the distance between frets is too large to show in the diagram. I can only produce diagrams with a span of up to four frets.</p>
                        </div>
                        <div>
                            <button class="ui primary button" type="submit"><i class="file image icon"></i> Generate</button>
                            <a class="ui basic button" href="?"><i class="refresh icon"></i> Reset all strings</a>
                        </div>
                    </form>
                </div>
                <div class="six wide column">
                    <img src="chord?{{ chord_query_params(name, strings) }}" alt="{{ name }}">
                    <p>
                        <a class="ui button" href="download?{{ chord_query_params(name, strings) }}"><i class="download icon"></i> Download this diagram</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="ui inverted footer segment">
            <div class="ui container">
                <p>&copy; Brendan Jurd  &middot;  <a href="https://github.com/direvus/guitarchords">GitHub</a></p>
            </div>
        </div>

        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
        <script src="static/site.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/components/dropdown.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/components/form.min.js"></script>

    </body>
</html>
